Package: DreamPlex
Version: 2.1.3
Description: Plex Client for Enigma2
Section: extra
Priority: optional
Maintainer: DonDavici <dondavici@gmail.com>
Architecture: all
OE: dreamplex_2.1.3_all
Homepage: http://https://github.com/DonDavici/DreamPlex
Depends: python-textutils, python-pyopenssl, curl, gstreamer1.0-plugins-bad-fragmented, mjpegtools, python-imaging, openssl
Source:  http://https://github.com/DonDavici/DreamPlex
